/* Start Global Variables */
:root {
    --main-color: #19c8fe;
    --transperant-color: rgba(29, 144, 175, 0.45);
    --circle-color: #333;
    --main-heading-p-color: #777;
    --section-padding: 60px;
    --light-gray-color: rgb(236, 235, 235);
}

/* End Global Variables */
/* Start Globla Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;

}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width :768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width :992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width :1200px) {
    .container {
        width: 1170px;
    }
}

/* End Globla Rules */

/* Start Components*/

.main-heading {
    text-align: center;
    padding: 70px
}

.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-align: center;
    text-transform: uppercase;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: var(--circle-color);
    bottom: -30px;
    width: 120px;
}

.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid var(--circle-color);
    bottom: -38px;
    background-color: white;
}

@media (max-width : 375px) {
    .main-heading h2 {
        width: 100%;
        text-align: center;
        font-size: 30px;
    }
}

.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: var(--main-heading-p-color);
}

/* End Components */

/* Start Header */

header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*حطيته عشان احافظ على الهايت تبع الكونتينر مهما صغرت الشاشة */
    min-height: 97px;
}

header .container::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    width: calc(100% - 30px);
    /*قبل ما احسب الويدث كان زيو زي البوردر ما عملنا اشي */
    /*يعني شلنا المسافات من اليمين والشمال اللي همو كانو بعبروا عن البادنغ 15 15 وشلناهن ع اساس يبدأ ممن بعد البادنغ تبع الكونتينر نفسه */
    left: 15px;
    bottom: 0;
}

header .logo img {
    height: 65px;

}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /*عشان ما يلزقو جنب اللوغو فحطيتهم عالسمال */
}

header nav .toggle-menu {
    color: white;
    font-size: 22px;
}

@media (min-width : 768px) {
    header nav .toggle-menu {
        display: none;
    }

    /*هاي الهدف منها انه الايكون ما تظهر بالشاشات الكييرة اكبر من 767 بكسل*/
}

header nav ul {
    display: flex;
}

@media (max-width : 767px) {
    header nav ul {
        display: none;
    }

    header nav .toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 50%);
    }

    header nav ul li a {
        padding: 15px !important;

    }
}

header nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    padding: 40px 10px;
    /*عشان يطلع تأثير الهوفر فوق الخط بالضبط */
    position: relative;
    z-index: 2;
}

header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header nav .form {
    position: relative;
    margin-left: 30px;
    border-left: 2px solid white;
    width: 40px;
    height: 30px;
}

header nav .form i {
    color: white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

/* End Header */
/* Strat Landing */
.landing {
    min-height: 100vh;
    /*لو في مشكلة بعرض الصورة الباك هاي بتحل محلها */
    background-image: url(../assets/1.jpg);
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*برضه عشان يحافظ على الارتفاع تبعه ويوخذ الشاشة كاملة */
    background-color: rgb(0 0 0 / 60%);
}

.landing .text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    margin-top: 50px;
    background-color: var(--transperant-color);
    color: white;
    display: flex;
    justify-content: flex-end;
    /*الفلكس تأثيره مش مبين لانه انا عاملة الويدث فوق 100% */
    /*انا لازم احدد الماكس ويدث للاندنغ كونتنت*/
}

.landing .text .content {
    max-width: 500px;
}

@media (max-width : 767px) {
    .landing .text {
        width: 100%;
    }

    .landing .text .content {
        max-width: 100%;
    }
}

.landing .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 30px;
}

.landing .text .content p {
    line-height: 2;
    font-size: 14px;
}

.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

@media (max-width : 767px) {

    .landing .change-background {
        display: none;
    }
}

.landing .fa-angle-left {
    left: 30px;
}

.landing .fa-angle-right {
    right: 30px;
}

.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}

.landing .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 5px;

}

.landing .bullets li.active {
    background-color: var(--main-color);
    box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    border-color: var(--main-color);

}

/* End Landing */
/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

@media (min-width :768px) {

    /*من 768 وانت طالع رح تكن على شكل جريد */
    .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        column-gap: 40px;
        row-gap: 60px;
    }

}

.services .srv-box {
    display: flex;
}


.services .srv-box i {
    margin-right: 50px;
    color: var(--main-heading-p-color);

}

@media (max-width : 767px) {

    /*من 767 وانزل رح يكون شكلها هيك */
    .services .srv-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }

    .services .srv-box i {
        margin: 0 0 30px;
        /* override the margin كان 50 */
    }
}

/*سميتهم هيك لانه ما في غيرهم اصلا جوا السيرفيسز */
.services .srv-box h3 {
    color: var(--main-color);
    margin-bottom: 30px;
}

.services .srv-box p {
    color: var(--main-heading-p-color);
    line-height: 2;
}

/* End Services */
/* Start Design */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 600px;
    position: relative;
    background-image: url(../assets/2.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.design::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.design .image,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}

.design .image {
    text-align: center;
}

@media (max-width : 768px) {
    .design .image {
        display: none;
        /*يعني الصورة ما تظهر بالميديوم  >>  التابلتس  */
    }
}

@media (max-width : 540px) {
    .design .image {
        display: none;
        /*يعني الصورة ما تظهر بالموبايل */
    }
}

.design .image img {
    position: relative;
    bottom: -150px;
    width: 600px;
}

.design .text {
    padding: 50px;
    color: white;
    background-color: var(--transperant-color);
}

.design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.design .text ul li {
    padding: 15px 0;
}

.design .text ul li::before {
    font-family: "Font Awesome 6 Free";
    content: "\f390";
    font-weight: 900;
    position: relative;
    top: 1px;
    /*عشان تنزل تحت الصورة شوي ب 1 بكسل */
    margin-right: 20px;
}

/* End Desing */
/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .shuffle {
    display: flex;
    justify-content: center;
}

.portfolio .shuffle li {
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.portfolio .shuffle li:hover {
    background-color: var(--transperant-color);
    transition: 0.3s;
    color: white;
}

.portfolio .shuffle li.active {
    background-color: var(--main-color);
    color: white;
    text-align: center;
}

.portfolio .images-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.portfolio .images-container .box {
    overflow: hidden;
    position: relative;
    flex-basis: 25%;
}

/* لمااعمل هوفر عالبوكس تتاثر الكابشن وكمان معها الايميج */
.portfolio .images-container .box:hover .caption {
    bottom: 0;
}

.portfolio .images-container .box:hover img {
    transform: rotate(2deg) scale(1.1);
}

@media (max-width : 1024px) {
    .portfolio .images-container .box {
        flex-basis: 25%;
    }
}

@media (max-width : 768px) {
    .portfolio .images-container .box {
        flex-basis: 50%;
    }
}

@media (max-width : 540px) {
    .portfolio .images-container .box {
        flex-basis: 100%;
    }
}

.portfolio .images-container .box .image img {
    width: 100%;
    height: 300px;
    transition: 0.3s;
    object-fit: cover;
}

.portfolio .images-container .box .caption {
    position: absolute;
    background-color: var(--light-gray-color);
    left: 0;
    padding: 20px;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
}

.portfolio .images-container .box .caption h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.portfolio .images-container .box .caption p {
    color: var(--main-color);
}

.portfolio .more {
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
    padding: 15px 20px;
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 25px auto;
    /*حتى لو وسطته بالبوزيشن لازم احط مارجن عشان ما يضرب ع الاشاشات الصغيرة */
}

.portfolio .more:hover {
    border: 2px double var(--main-color);
    background-color: black;
    color: white;
    transition: 0.3s;
}

/* End Portfolio */
/* Start Video */
.video {
    position: relative;
    margin-top: 95px;
}

/*هسا بدنا نحط نفس خواص اللي فوق اللي هو صورة وعليها لون اغمق زي overlay*/
.video::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}

.video video {
    width: 100%;
}

.video .text {
    width: 100%;
    height: fit-content;
    background-color: var(--transperant-color);
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    color: white;
}

@media (max-width : 767px) {
    .video .text {
        max-height: 100%;
    }
}

.video .text h2 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.video .text p {
    margin-bottom: 30px;
}

.video .text .see-more {
    background-color: #000;
    color: white;
    border: 2px solid var(--main-heading-p-color);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
}

.video .text .see-more:hover {
    border-color: var(--main-color);
    transition: 0.3s;
}

/* End Video */
/* Start About */
.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}

.about img {
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}

@media (max-width : 767px) {
    .about img {
        bottom: -60px;
        margin-top: -60px;
    }
}

@media (max-width : 540px) {
    .about img {
        display: none;
        /*يعني الصورة ما تظهر بالموبايل */
    }
}

/* End About */
/* Start Statistics */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-image: url(/assets/3.jpg);
    background-size: cover;
    position: relative;
    bottom: 135px;
}

.stats::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.stats .container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 50px auto 50px;
}

.stats .container .box {
    color: white;
    padding: 50px;
    background-color: var(--transperant-color);
}

/*************** MOBLIE FIRST ALWAYS (responsivness) ***************/
@media (max-width : 767px) {
    .stats .container .box {
        flex-basis: 100%;
    }
}

@media (min-width : 768px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}

@media (min-width : 992px) {
    .stats .container .box {
        flex-basis: 25%
    }
}

.stats .container .box i {
    font-size: 20px;
    width: 45px;
    height: 45px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 30px;
}

.stats .container .box .number {
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 30px;
}

.stats .container .box p {
    font-size: 15px;
}

/* End Statistics */
/* Start Skills */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width : 992px) {
    .our-skills .container>div {
        flex-basis: 45%;
    }
}

.our-skills .container>div>h3 {
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.our-skills .container>div>p {
    color: #777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
}

.our-skills .testimonials .content {
    display: flex;
    margin-bottom: 30px;
}

.our-skills .testimonials .content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--transperant-color);
    padding: 9px;
    margin-right: 50px;
}

.our-skills .testimonials .content .text {
    line-height: 1.8;
    border-bottom: 1px solid #ccc;
}

.our-skills .testimonials .content .text p {
    display: flex;
    justify-content: end;
    color: #777;
    margin-bottom: 10px;

}

.our-skills .testimonials .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.our-skills .testimonials .bullets li {
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: 10px;
}

.our-skills .testimonials .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

@media (max-width : 767px) {
    .our-skills .testimonials .content {
        flex-direction: column;
        text-align: center;
    }

    .our-skills .testimonials .content img {
        margin: 0 auto 20px;
    }

}

.our-skills .skills .prog-holder {
    margin-bottom: 20px;
}

.our-skills .skills .prog-holder h4 {
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
}

.our-skills .skills .prog-holder .prog {
    background-color: #dedadc;
    height: 30px;
}

.our-skills .skills .prog-holder .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    /*عشان تملا المكان اللي هي فيه */
    position: relative;
}

.our-skills .skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -40px;
    right: -18px;
    padding: 4px 2px;
}

.our-skills .skills .prog-holder .prog span::after {
    content: '';
    position: absolute;
    border-width: 8px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    right: -9px;
    top: -15px;
}

/* End Skills */
/* Start Quote */
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../assets/4.jpg);
    background-size: cover;
    text-align: center;
    position: relative;
    color: white;
}

.quote::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}

.quote .container {
    position: relative;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote .container q {
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 40px;
    display: block;
    overflow-wrap: break-word;
}

/* End Quote */
/* Strat Pricing */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.pricing .plans .plan {
    background-color: #fcfcfc;
    text-align: center;
}

.pricing .plans .plan .head {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan .head h3 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.pricing .plans .plan .head span {
    font-size: 60px;
    font-weight: bold;
}

.pricing .plans .plan .head span::before {
    content: '$';
    font-weight: normal;
    font-size: 20px;
    position: relative;
    top: -40px;
    margin-right: 15px;
}

.pricing .plans .plan .head span::after {
    content: '/Mo';
    font-size: 20px;
    position: relative;
    left: 6px;
    font-weight: normal;
    margin-left: 5px;
}

.pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
}

.pricing .plans .plan ul li:not(:last-child)::after {
    content: "";
    width: 120px;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.pricing .plans .plan .foot a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 20px;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 30px auto;
    color: black;
}

.pricing .plans .plan .foot a:hover {
    color: white;
    background-color: black;
    border: 2px double var(--main-color);
    transition: 0.3s;
}

.pricing .contact-text {
    text-align: center;
    margin: 50px auto 50px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #333;
}

.pricing .contact-link {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    margin: 50px auto 50px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    background-color: var(--main-color);
}

.pricing .contact-link:hover {
    color: white;
    background-color: black;
    border: 1px solid var(--main-color);
    transition: 0.3s;
}

/* End Pricing */
/* Start Subscribe */
.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../assets/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;
}

.subscribe::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 55%);
    position: absolute;
}

.subscribe .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

@media (max-width : 992px) {
    .subscribe .container {
        flex-direction: column;
    }
}

.subscribe form {
    display: flex;
    width: 600px;
    max-width: 100%;
    position: relative;
}

.subscribe form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}

.subscribe form input[type='email'] {
    background: none;
    color: white;
    padding: 20px 20px 20px 60px;
    border: 1px solid white;
    border-right: none;
    width: calc(100% - 130px);
    /* هون انا حطيتله ودث كامل 100 ناقص منه ويدث السبمت اللي جنبه عشان يتمدد بحيث انه ما يوخد مساحة السبمت */
}

.subscribe form input[type='email']::placeholder {
    color: white;
}

.subscribe form input[type='submit'] {
    background-color: var(--main-color);
    color: white;
    width: 130px;
    padding: 20px;
    border: 1px solid white;
    border-left: none;
    cursor: pointer;
    text-transform: uppercase;
}

.subscribe form input[type='email']:focus,
.subscribe form input[type='submit']:focus {
    outline: none;
}

.subscribe .container p {
    margin-left: 30px;
}

@media (max-width :992px) {
    .subscribe .container p {
        text-align: center;
        margin: 20px 0 0;
    }
}

/* End Subscribe */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.contact .content {
    display: flex;
    justify-content: space-between;
}

@media (max-width : 767px) {
    .contact .content {
        flex-direction: column;
    }
}

.contact .content form {
    flex-basis: 70%;
    /*لانه بدي امتداد الفورم كبير شوي */
}

.contact .content form .main-input {
    padding: 20px;
    margin-bottom: 30px;
    display: block;
    /*هون عشان يظهروا تحت بعض */
    border: 1px solid #ccc;
    width: 100%;
    /*عشان يملوا الفورم كامل */
}

.contact .content form .main-input:focus {
    outline: none;
}

.contact .content form textarea.main-input {
    height: 200px;
}

.contact .content form input[type="submit"] {
    color: white;
    background-color: var(--main-color);
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    margin-left: auto;
}

.contact .content form input[type="submit"]:hover {
    color: white;
    background-color: black;
    border: 1px solid var(--main-color);
    transition: 0.3s;
}

.contact .content .info {
    flex-basis: 25%;
}

@media (max-width : 767px) {
    .contact .content .info {
        order: -1;
        text-align: center;
    }
}

/*هاد التنسيق لكل ال h4 المتواجدة جوا الانفو */
.contact .content .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
}

.contact .content .info .phone {
    display: block;
    color: #777;
    margin-bottom: 10px;
}

.contact .content .info h4:nth-of-type(2) {
    margin-top: 90px;
}

@media (max-width : 767px) {
    .contact .content .info h4:nth-of-type(2) {
        margin-top: 30px;
    }
}

.contact .content .info address {
    color: #777;
    line-height: 2;
    font-style: normal;
    text-transform: uppercase;
}

@media (max-width : 767px) {
    .contact .content .info address {
        margin-bottom: 35px;
    }
}

/* End Contact */
/* Start Footer */
.footer {
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    background-image: url(../assets/6.1.jpg);
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}

.footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 65%);
}

.footer .container {
    position: relative;
}

.footer img {
    margin-bottom: 20px;
}

.footer p:not(.copyright) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    letter-spacing: 2px;
    width: fit-content;
    margin: 20px auto;
}

.footer .social-icons i {
    padding: 10px 15px;
    font-size: 18px;
}

.footer .social-icons i:hover {
    color: var(--main-color);
    transition: 0.3s;
    cursor: pointer;
}

.footer .copyright {
    margin-top: 20px;
}

.footer .copyright span {
    color: var(--main-color);
    font-weight: bold;
}

/* End Footer */